<head>
    <!-- Page metadata -->
    <meta charset="UTF-8" />
    <title>Coderdojo Red and Blue</title>

    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
        name="description"
        content="<%= page.description || page.summary || page.title || site.description || site.title || 'Willkommen beim CoderDojo für Jugendliche! Wir sitzen zwar in Berlin, aber da bei uns vieles online stattfindet, kannst Du bei uns an vielem auch teilnehmen, wenn Du hier nicht wohnst.' %>"
    />
    <%- open_graph() %> <%- meta_generator() %>

    <!-- Icon -->
    <%- partial('favicon') %>

    <!-- CSS -->
    <link href="<%- url_for('css/index.css') %>?b=<%= Date.now() %>" rel="stylesheet" />
</head>
