<head>
    <!-- Page metadata -->
    <meta charset="UTF-8" />
    <title>Coderdojo Red and Blue</title>

    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
        name="description"
        content="<%= page.description || page.summary || page.title || site.description || site.title %>"
    />
    <%- open_graph() %> <%- meta_generator() %>

    <!-- Icon -->
    <%- partial('favicon') %>

    <!-- CSS -->
    <!-- <link rel="preload" href="/fonts/source-sans-pro-all.woff" as="font" type="font/woff" crossorigin ></link> -->
    <link href="<%- url_for('css/index.css') %>?b=<%= Date.now() %>" rel="stylesheet" />

    <!-- JS -->
    <script src="<%- url_for('js/bundle.js') %>?b=<%= Date.now() %>"></script>
</head>
