<div
    class="tw-w-[15rem] tw-z-20 tw-overflow-scroll md:tw-overflow-hidden tw-fixed tw-top-0 tw-left-0 tw--ml-[15rem] xl:tw--ml-[0rem] tw-transition-short motion-reduce:tw-transition-none tw-bg-transparent"
    id="sidenav"
>
    <div class="tw-group tw-card tw-drop-shadow-none">
        <div class="tw-card-title">
            <a href="/" class="tw-flex tw-flex-row tw-text-slate-100 hover:tw-text-slate-300">
                <% if (color()) { %>
                <img src="/images/brand-red.svg" alt="" height="32" width="32" class="tw-aspect-square tw-mr-1" /> <%} else { %>
                <img src="/images/brand-blue.svg" alt="" height="32" width="32" class="tw-aspect-square tw-mr-1" /> <% } %>
                Coderdojo <% if (color()) { %> Red <%} else { %> Blue <% } %>
            </a>
        </div>

        <p class="tw-leading-relaxed tw-card-content">Treffen jeden Donnerstag über BigBlueButton</p>
    </div>

    <div class="tw-flex-row tw-hidden tw-group card tw-text-bold tw-flex-nowrap">
        <% // flex might need to be added %>
        <p class="tw-flex-1 tw-p-2">
            Die Infos zur Veranstaltung „Man müsste mal“ zum rc3 zwischen den Jahren findest Du
            <a href="https://coderdojo.red/news/rc3/" class="card-transition"> hier </a>
        </p>
        <div class="tw-flex tw-flex-col tw-justify-around tw-w-28 md:tw-w-52">
            <img
                src="https://styleguide.rc3.world/02a_Logo/02a_Logo_web_200px_still.png"
                alt="rc3-Logo"
                class="tw-w-auto tw-h-auto tw-aspect-square"
            />
        </div>
    </div>

    <div class="tw-mt-2 tw-card">
        <div class="tw-card-title">
            <span>Navigation</span>
        </div>

        <ul class="tw-ml-0 tw-leading-relaxed tw-list-none tw-card-content">
            <% for (var item in theme.menu){ %>

            <li class="tw-flex tw-justify-between tw-group">
                <a href="<%- url_for(theme.menu[item][0]) %>" class="tw-w-full">
                    <% if (theme.menu[item].length !=1){ %>
                    <i class="bi <%= theme.menu[item][1] %>"></i>
                    <% } %> <%= item %>
                </a>
                <i class="tw-hidden bi bi-chevron-right group-hover:tw-inline"></i>
            </li>

            <% } %>
        </ul>
    </div>

    <div class="tw-card">
        <div class="tw-card-title">
            <span>Themen</span>
        </div>
        <ul class="tw-ml-0 tw-leading-relaxed tw-list-none tw-card-content">
            <% for (var item in theme.chapters){ %>

            <li class="tw-flex tw-justify-between tw-group tw-w-full">
                <a href="<%- url_for(Object.values(theme.chapters[item][1]['order'][0])[0]) %>" class="tw-w-full">
                    <i class="icon-belt" style="color: <%- theme.chapters[item][0] %> !important"></i> <%= item %>
                </a>
                <i class="tw-hidden bi bi-chevron-right group-hover:tw-inline"></i>
            </li>

            <% } %>
        </ul>
    </div>

    <% if (page.content !==undefined) { %> <% let _toc=toc(page.content); if (_toc !=="" ) { %>
    <div class="tw-group tw-card">
        <div class="tw-card-title">
            <span class="tw-text-xl"> <%- page.title %> <%- site.title %> </span>
        </div>
        <div class="tw-card-content"><%- _toc %></div>
    </div>
    <% } %> <% } %>
</div>
